GROQ_API_KEY=AIzaSyBxrVvzrTlxQY87xAYB8Rm8Ys2QHZDc01A
ELEVENLABS_API_KEY=sk_42a584ab860f600c95d9fa11a2419ada025d2b1c5f3a50b3
TESSERACT_CMD=C:\Program Files\Tesseract-OCR\tesseract.exe
DATABASE_URL=sqlite:///./neuramed.db
ENVIRONMENT=development
UPLOAD_DIR=./uploads
