fastapi
uvicorn
sqlalchemy
pydantic
python-multipart
groq
python-dotenv
elevenlabs
gTTS
SpeechRecognition
pyaudio
pytesseract
pdf2image
Pillow
opencv-python
scikit-image
numpy
reportlab
aiofiles
websockets

reportlab==4.1.0
