fastapi
uvicorn
sqlalchemy>=2.0.51
psycopg2-binary
pydantic[email]
python-multipart
groq
python-dotenv
elevenlabs
gTTS>=2.5.4
python-jose[cryptography]

pytesseract
pdf2image
Pillow
opencv-python
scikit-image
numpy
reportlab==4.1.0
aiofiles
websockets
PyMuPDF
httpx
pytest
pytest-asyncio
alembic
torch
torchxrayvision
scikit-image
pydicom>=3
pylibjpeg
pylibjpeg-libjpeg
pylibjpeg-openjpeg
